<div class="jumbotron jumbotron-fluid jumbotron-footer">
    <div class="container">
        <div class="text-center jumbofooter">
            <h1 class="display-4">Prenumerera på vårat nyhetsbrev</h1>
            <div style="text-align:center">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv in email">
                <button type="submit" class="btn btn-light mt-3">Skicka</button>
            </div>
        </div>
    </div>
</div>