@using DeliCode.Web.Services
@inject ICartService _cartService
@{ 
    var cart = await _cartService.GetCart();
}
<li class="nav-item" style="list-style-type: none">
    @if (cart.Items.Count == 0)
    {
        <div class="nav-link disabled">Kundvagnen tom!</div>
    }
    
    @if (cart.Items.Count > 0)
    {
        <a asp-controller="Order" asp-action="Index" class="nav-link">
            🛒(@cart.Items.Sum(x=>x.Quantity)) SEK: <span class="font-weight-bold">@cart.Total</span>
        </a>
    }

</li>