@using DeliCode.Web.Services
@inject ICartService _cartService
@{
    var cart = await _cartService.GetCart();
}



<li class="nav-item" style="list-style-type: none">
    <a asp-controller="Order" asp-action="Index" class="nav-link">
        🛒( <span id="cartquantity">
            @cart.Items.Sum(x => x.Quantity)
        </span> )SEK: <span class="font-weight-bold" id="carttotal">@cart.Total</span>
    </a>
</li>