@inherits OrderComponentBase
<br />
@if (isLoading)
{
    <h4>Din order behandlas</h4>
    <p>vänligen vänta...</p>
    <div class="col-5"><RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" /></div>

}
else
{

    <div class="row">
        <div class="col-12 col-lg-5">
            <ShowCart DeliveryMethod="SelectedDeliverytype" OrderModel="orderModel" CartModel="cart" />
        </div>
        <div class="col-12 col-lg-7">

            <ShowDeliveryOptions DeliveryOptions="DeliveryOptions" OnClickCallback="SelectDelivery" OrderModel="orderModel" SelectedDeliveryOption="SelectedDeliverytype" />
            @if (renderHomeDelivery)
            {
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <h4>Välj leveranstid</h4>

                            @foreach (var date in AvailableDeliveryDates)
                            {
                                @if (isHomeDeliveryBooked && orderModel.BookedDeliveryDate == date)
                                {
                                    <button class="btn btn-secondary" @onclick="(() => SelectDate(date))">@date.ToShortDateString()</button>
                                }
                                else
                                {
                                    <button class="btn btn@(btndesign)-secondary" @onclick="(() => SelectDate(date))">@date.ToShortDateString()</button>
                                }

                            }

                        </div>
                    </div>
                </div>

            }

            @if (renderPersonalDetails)
            {

                <ShowEditPersonalDetails OnSaveCallback="SavePersonalDetails" OrderModel="orderModel" />

            }
            @if (renderPayment)
            {
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <h4>Betalmetod</h4>
                            <button class="btn btn-outline-secondary" @onclick="(()=>renderOrderButton=true)">Faktura 14 dagar</button>

                            @if (renderOrderButton)
                            {
                                <hr />
                                <button class="btn btn-secondary" @onclick="PlaceOrder">Beställ</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}